// Color Scheme
$primary-color: hsl(259, 100%, 65%);
$secondary-color: rgb(145, 22, 43);
$error: hsl(0, 100%, 67%);
$white-color: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 8%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);

// Font
$poppins: 'Poppins', sans-serif;

